# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'samplejavaappcode/pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'



- task: Docker@2
  inputs:
    containerRegistry: 'dockerhub-service connection'
    repository: 'nutan69/trail'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'


- task: AzureWebAppContainer@1
  inputs:
    azureSubscription: 'Pay-As-You-Go(1)(a718d2ec-92b4-46c5-b6d3-be045fe8dca2)'
    appName: 'centralusssss'
    containers: 'nutan69/trail:$(Build.BuildId)'





